# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
venv/
.venv/

# Data (large files)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models (large files)
models/checkpoints/*
!models/checkpoints/.gitkeep
models/exports/*
!models/exports/.gitkeep

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# env 
.env
.envrc


# rules
.rules/