# Core ML
torch
torchvision
numpy
scikit-learn

# Image processing
opencv-contrib-python
Pillow

# API
fastapi
uvicorn
python-multipart

# Utilities
pyyaml
tqdm
matplotlib

# Testing
pytest

# pre-commit check
pre-commit

# cheat

easyocr
imutils
